header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h1.logo-text {
  font-size: 14px;
  color: MediumAquamarine;
}

nav {
  display: inline-block;
}

.column {
  display: flex;
}

.column div{
  border: 1px solid;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
