header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  z-index: 1;
  background-color: white;
  height: 80px;
  width: 100%;
  justify-content: flex-start;
}

.logo {
  display: flex;
  padding-left: 30px;
  width: 70%;
}

.logo span {
  font-size: 14px;
  color: MediumAquamarine;
  padding-top: 30px;
  padding-right: 200px;
}

nav {
  display: inline-block;
  align-self: center;
}

nav span {
  padding: 20px 10px;
}

a {
  color: black;
}

.column {
  display: flex;
  flex-direction: column;
  padding-top: 80px;

}

.column div{
  border: 1px solid black;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image {
  display: flex;
}

.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.subhead {
  font-size: 3  0px;
}

.text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image1 {
  font-size: 40px;
  background-image: url('../images/wine.png');
  height: 280px;
  width: 630px;
}

.image2 {
  background-image: url('../images/fall.png');
}

.image3 {
  background-image: url('../images/cameraman.png');
}

.image4 {
  background-image: url('../images/cat.png');
}
